**Dictionaries**

In [2]:
#A dictionary is a built-in data type that represents a collection of key-value pairs. Dictionaries are enclosed in curly braces {}
dict_name = {} #Creates an empty dictionary
person = { "name": "John",  "age": 30, "city": "New York"}
person

{'name': 'John', 'age': 30, 'city': 'New York'}

In [4]:
#1You can access the values in a dictionary using their corresponding keys.
#Value = dict_name["key_name"]
name = person["name"]
age = person["age"]
print(name)

John

In [10]:
#Inserts a new key-value pair into the dictionary. If the key already exists, the value will be updated; otherwise, a new entry is created.

#dict_name[key] = value
person["Country"] = "USA" # A new entry will be created.
person["city"] = "Chicago"  # Update the existing value for the same key
person

{'name': 'John', 'age': 30, 'Country': 'USA', 'city': 'Chicago'}

In [11]:
#Removes the specified key-value pair from the dictionary. Raises a KeyError if the key does not exist.
#del dict_name[key]
del person["city"]
person

{'name': 'John', 'age': 30, 'Country': 'USA'}

In [13]:
#The update() method merges the provided dictionary into the existing dictionary, adding or updating key-value pairs.
#dict_name.update({key: value})
person.update({"Profession": "Doctor"})
person

{'name': 'John', 'age': 30, 'Country': 'USA', 'Profession': 'Doctor'}

In [15]:
#The clear() method empties the dictionary, removing all key-value pairs within it. After this operation, the dictionary is still accessible and can be used further.

#dict_name.clear()
grades={}
grades.clear()

In [16]:
#You can check for the existence of a key in a dictionary using the in keyword
if "name" in person:
    print("Name exists in the dictionary.")

Name exists in the dictionary.

In [17]:
#Creates a shallow copy of the dictionary. The new dictionary contains the same key-value pairs as the original, but they remain distinct objects in memory.
#new_dict = dict_name.copy()
new_person = person.copy()
new_person = dict(person) # another way to create a copy of dictionary

In [18]:
#Retrieves all keys from the dictionary and converts them into a list. Useful for iterating or processing keys using list methods.
#keys_list = list(dict_name.keys())
person_keys = list(person.keys())
person_keys

['name', 'age', 'Country', 'Profession']

In [20]:
#Extracts all values from the dictionary and converts them into a list. This list can be used for further processing or analysis.
#values_list = list(dict_name.values())
person_values = list(person.values())
person_values

['John', 30, 'USA', 'Doctor']

In [22]:
#Retrieves all key-value pairs as tuples and converts them into a list of tuples. Each tuple consists of a key and its corresponding value.
#items_list = list(dict_name.items())
info = list(person.items())
info

[('name', 'John'), ('age', 30), ('Country', 'USA'), ('Profession', 'Doctor')]

**Sets**

In [27]:
#Elements can be added to a set using the `add()` method. Duplicates are automatically removed, as sets only store unique values.
#set_name.add(element)
fruits=set()
fruits.add("mango")
fruits

{'mango'}

In [29]:
#The `clear()` method removes all elements from the set, resulting in an empty set. It updates the set in-place.
#set_name.clear()
fruits.clear()

In [30]:
#The `copy()` method creates a shallow copy of the set. Any modifications to the copy won't affect the original set.
#new_set = set_name.copy()
new_fruits = fruits.copy()

In [48]:
#A set is an unordered collection of unique elements. Sets are enclosed in curly braces `{}`. They are useful for storing distinct values and performing set operations.
empty_set = set() #Creating an Empty
fruits = {"apple", "banana", "orange"}
fruits

{'apple', 'banana', 'orange'}

In [36]:
#Use the `discard()` method to remove a specific element from the set. Ignores if the element is not found.
#set_name.discard(element)

fruits.discard("yyyy")
fruits

{'banana', 'orange'}

In [39]:
#The `issubset()` method checks if the current set is a subset of another set. It returns True if all elements of the current set are present in the other set, otherwise False.
#is_subset = set1.issubset(set2)
colors=set()
is_subset = fruits.issubset(colors)
is_subset

False

In [41]:
#The `issuperset()` method checks if the current set is a superset of another set. It returns True if all elements of the other set are present in the current set, otherwise False.	Syntax:
#is_superset = set1.issuperset(set2)

is_superset = colors.issuperset(fruits)
is_superset

False

In [43]:
#The `pop()` method removes and returns an arbitrary element from the set. It raises a `KeyError` if the set is empty. Use this method to remove elements when the order doesn't matter.	Syntax:
#removed_element = set_name.pop()

removed_fruit = fruits.pop()
removed_fruit

'banana'

In [49]:
#Use the `remove()` method to remove a specific element from the set. Raises a `KeyError` if the element is not found.	Syntax:
#set_name.remove(element)
fruits.remove("banana")
fruits

{'apple', 'orange'}

In [58]:
#Perform various operations on sets: `union`, `intersection`, `difference`, `symmetric difference`.	Syntax:

set1={1,2,2,3}
set2={1,2,2,3}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
sym_diff_set = set1.symmetric_difference(set2)
combined = fruits.union(colors)
common = fruits.intersection(colors)
unique_to_fruits = fruits.difference(colors)
sym_diff = fruits.symmetric_difference(colors)

In [60]:
#The `update()` method adds elements from another iterable into the set. It maintains the uniqueness of elements.	Syntax:
#set_name.update(iterable)

fruits.update(["kiwi", "grape"])
fruits

{'apple', 'grape', 'kiwi', 'orange'}